<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>
  <div class="col-md-6">
    <h4>Products List {{ cantidadProductos }}</h4>
    <table class="table table-striped" id="cursoscreados">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productos; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ item.codigo }}
          </td>
          <td>
            {{ item.nombre }}
          </td>
          <td>
            {{ item.precio_costo }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
